

body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-image:url(src/img/didi.gif);
}

:root{
    --variable : rgb(255,0,0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
width: 100%;
}